.btn-facebook, .btn-google, .btn-github{
    padding-top: 7px;
    padding-bottom: 7px;
    color: white;

    &:hover, &:active, &:focus{
        color: white;
    }

    & > i{
        margin-right: 10px;
        text-align: center;
    }
}

.btn-facebook{
    
    background-color: $facebook-color;
    border-color: darken($facebook-color, 3%);
    
}

.btn-google{
    background-color: $google-color;
    border-color: darken($google-color, 3%);
}

.btn-github{
    background-color: $github-color;
    border-color: darken($github-color, 3%);
}